<div class="container">
    <div class="alert alert-danger fade in" ng-if = "vm.registrationError != ''">
        <a href="" class="close" ng-click="vm.closeAlert()" aria-label="close">&times;</a>
        <strong translate="REGISTRATION.REGISTRATION ERROR"></strong> {{ 'REGISTRATION.USERNAME EXISTS' | translate }}
    </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 logo-top-margin">
                    <img class="img-responsive" src="assets/images/logo.png" alt="">
                    <div class="text-center">
                        <h3 class="cl-brown col-md-12" translate="HOME.WE ARE HERE FOR YOU"></h3>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="col-md-4 panel panel-default">
            <form novalidate name="registrationForm" class="login_form" ng-submit="vm.register(registrationForm.$valid)">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="cl-brown" translate="REGISTRATION.SIGN UP CLIENT"></h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error': (registrationForm.name.$touched || registrationForm.$submitted) && registrationForm.name.$invalid || vm.registrationError != ''}">
                            <label class="control-label" translate="REGISTRATION.FULL_NAME"></label>
                            <input required name="name" type="text" class="form-control input-lg" ng-model="vm.name" placeholder="{{ 'REGISTRATION.FULL NAME PLACE HLDR' | translate }}">
                            <div class="form_error" ng-messages="registrationForm.name.$error"
                                 ng-if="registrationForm.name.$touched || registrationForm.$submitted || vm.registrationError != ''"
                                 role="alert">
                                <p ng-message="required" translate="REGISTRATION.EMPTY FULL NAME"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error': (registrationForm.email.$touched || registrationForm.$submitted) && registrationForm.email.$invalid || vm.registrationError != ''}">
                            <label class="control-label" translate="REGISTRATION.EMAIL"></label>
                            <input required name="email" type="email" class="form-control input-lg" ng-model="vm.email" placeholder="{{ 'LOGIN.EMAIL PLACE HLDR' | translate }}">
                            <div class="form_error" ng-messages="registrationForm.email.$error"
                                 ng-if="registrationForm.email.$touched || registrationForm.$submitted || vm.registrationError != ''"
                                 role="alert">
                                <p ng-message="required" translate="REGISTRATION.EMPTY EMAIL"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error': (registrationForm.password.$touched || registrationForm.$submitted) && registrationForm.password.$invalid || vm.registrationError != ''}">
                            <label class="control-label" translate="REGISTRATION.PASSWORD"></label>
                            <input required name="password" id="password" type="password" class="form-control input-lg" ng-model="vm.password" placeholder="******">
                            <div class="form_error" ng-messages="registrationForm.password.$error"
                                 ng-if="registrationForm.password.$touched || registrationForm.$submitted || vm.registrationError != ''"
                                 role="alert">
                                <p ng-message="required" translate="REGISTRATION.EMPTY PASSWORD"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error': (registrationForm.confirm_password.$touched || registrationForm.$submitted) && registrationForm.confirm_password.$invalid || vm.registrationError != ''}">
                            <label class="control-label" translate="REGISTRATION.CONFIRM PASSWORD"></label>
                            <input required name="confirm_password" pw-check="password" type="password" class="form-control input-lg" ng-model="vm.confirm_password" placeholder="******">
                            <div class="form_error" ng-messages="registrationForm.confirm_password.$error"
                                 ng-if="registrationForm.confirm_password.$touched || registrationForm.$submitted || vm.registrationError != ''"
                                 role="alert">
                                <p ng-message="required" translate="REGISTRATION.RE-ENTER PASSWORD"></p>
                                <p ng-message="pwmatch" translate="REGISTRATION.PASSWORDS DO NOT MATCH"></p>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="vm.loading" ng-class="{'disable-button' : vm.loading}">
                            <span translate="REGISTRATION.SIGN UP CLIENT"></span> <span ng-if="vm.loading" class="fa fa-spinner fa-spin cl-brown"></span></button>
                    </div>
                </div>
                <div class="text-center"><a href="" ui-sref="main.login" class="text-center" translate="REGISTRATION.ALREADY HAVE AN ACCOUNT"></a></div>
                <div class="text-center"><a href="" ui-sref="main.register" class="text-center" translate="REGISTRATION.REGISTER AS RESTAURANT"></a></div>
            </div>



        </form>
    </div>

</div>
