
<div class="container min-height-500">
    <div class="alert alert-danger fade in" ng-show = "vm.loginError != ''">
        <a href="" class="close" ng-click="vm.closeAlert()" aria-label="close">&times;</a>
        <strong translate="RESET_PASSWORD.ERROR"></strong> {{ 'RESET_PASSWORD.EMAIL_DOES_NOT_EXIST' | translate }}
    </div>

    <div class="alert alert-success fade in" ng-show="vm.emailSent">
        <a href="" class="close" ng-click="vm.closeAlert()" aria-label="close">&times;</a>
        <strong translate="RESET_PASSWORD.SUCCESS"></strong> {{ 'RESET_PASSWORD.EMAIL_SENT_SUCCESSFULLY' | translate }}
    </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <br><br>
                    <img class="img-responsive" src="assets/images/logo.png" alt="">
                </div>
                <h3 class="cl-brown col-md-12 text-center" translate="HOME.WE ARE HERE FOR YOU"></h3>
            </div>
        </div>
        <br><br>
        <div class="col-md-4 panel panel-default">
            <form class="login_form" novalidate name="loginForm" ng-submit="vm.sendResetPasswordEmail(loginForm.$valid)">
                <div class="form-group">
                    <h3 class="cl-brown" translate="REGISTRATION.FORGOT PASSWORD"></h3>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (loginForm.email.$touched || loginForm.$submitted) && loginForm.email.$invalid || vm.loginError != ''}">
                    <label class="control-label" translate="LOGIN.EMAIL"></label>
                    <input required name="email" type="email" class="form-control input-lg" ng-model="vm.email" placeholder="{{ 'LOGIN.EMAIL PLACE HLDR' | translate }}">
                    <div class="form_error" ng-messages="loginForm.email.$error"
                         ng-if="loginForm.email.$touched || loginForm.$submitted || vm.loginError != ''"
                         role="alert">
                        <p ng-message="required" translate="LOGIN.EMPTY EMAIL"></p>
                        <p ng-message="email" translate="LOGIN.INVALID EMAIL"></p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="vm.loading" ng-class="{'disable-button' : vm.loading}">
                        <span translate="LOGIN.FORGOT PASSWORD SEND"></span>
                        <span ng-if="vm.loading" class="fa fa-spinner fa-spin cl-brown"></span>
                    </button>
                </div>
                <div class="text-center"><a href="" ui-sref="main.register" class="text-center" translate="REGISTRATION.REGISTER AS RESTAURANT"></a></div>
                <div class="text-center"><a href="" ui-sref="main.registerClient" class="text-center" translate="REGISTRATION.REGISTER AS CLIENT"></a></div>
                <div class="text-center"><a href="" ui-sref="main.login" class="text-center" translate="LOGIN.LOGIN"></a></div>
                <br>
            </form>
        </div>

</div>